
<h4>Book Name: <%= @author.name %></h4>
<h4>Book Bio: <%= @author.bio %></h4>



<h3>Book Authors</h3>

<% if @author.books.length >= 1 || @author.books != nil %>
<ul>
  <% @author.books.each do |book| %>

  <li><a href="/books/<%= book.id %>"> <%= book.name %> </a></li>
</ul>
<% end %>
<% else %>
<p>There are no books listed for this author yet.</p>
<% end %>

<p><a href="/authors/<%= @author.id %>/edit">Edit Author</a></p>
<a href="/books">Return to Book List</a>
