
    <title>Single Book</title>
  </head>
  <body>
    <h4>Book Name: <%= @book.name %></h4>
    <h4>Book Genre: <%= @book.genre %></h4>
    <h4>Book isbn: <%= @book.isbn %></h4>



<h3>Book Authors</h3>

  <% if @book.authors %>
    <ul>
      <% @book.authors.each do |author| %>
        <li><a href="/authors/<%= author.id %>"> <%= author.name %> </a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no authors listed for this book yet.</p>
  <% end %>

    <p><a href="/books/<%= @book.id %>/edit">Edit Book</a></p>
    <a href="/books">Return to Book List</a>
